.App {
  text-align: center;
}


/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: .5%;
  left: 3%;
  top:3%;
  padding:1rem;
}



.bm-burger-bars {
  background:#000080;
  box-shadow: 0px 1px 4px black;
  border:none;
}

.hamburger{
  margin-top:5rem;
  text-decoration:none;
  border:none;
  margin-left:4rem;


}

.buttons{
  padding:1rem;
  text-decoration: none;
  font-size: 25px;
  font-weight:bold;
  opacity: 45%;
  border:none;
  color:white;
  text-align: center;
  border:2px solid white;
  border-radius: 8px;
  width:60%;
}


.alice-carousel ul li img{
  height: 50vh;
  width: 100%;
}
