.App {
  text-align: center;
}


/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: .5%;
  left: 3%;
  top:3%;
  padding:1rem;
}



.bm-burger-bars {
  background:#000080;
  box-shadow: 0px 1px 4px black;
  border:none;
}

.hamburger{
  margin-top:5rem;
  text-decoration:none;
  border:none;
  width:100%;
  display:flex;
  flex-direction:column;
  margin:0 auto;
  margin-top:4rem;
  padding:10%;
  height:50%;
  
}

.buttons{
  padding:1rem;
  text-decoration: none;
  font-size: 25px;
  font-weight:bold;
  border:none;
  color:white;
  text-align: center;
  border:2px solid white;
  border-radius: 8px;
  width:80%;
  margin:1rem auto;
}


.alice-carousel ul li img{
  height: auto;
  width: 100%;
}
